<a href="https://colab.research.google.com/github/HolaSoyMath/DataScience-R/blob/main/1_Aula_em_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

[1] "Hello World!"

In [ ]:
x <- 10
y <- 1:10
y

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
x <- c(10,20,30)
y <- c(30,20,10)
z <- x<y
z

[1]  TRUE FALSE FALSE

In [ ]:
x_media <- mean(x)
y_media <- mean(y)
x_media
y_media

[1] 20

[1] 20

In [ ]:
# + = Adição
# - = Subtração
# * = Multiplicação
# / = Divisão
# ** = Potência
# %% = Resto da divisão
# %/% = Parte inteira da divisão

[1] 2

In [ ]:
# < : Menor que
# <= : Menor ou igual a
# > : Maior que
# >= : Maior ou igual a
# == : Igual a
# != : Diferente de
# sqrt() : Raíz quadrada
# fatorial() : Fatorial

In [ ]:
x <- c(TRUE, TRUE, FALSE, FALSE, TRUE)
y <- c(FALSE, TRUE, TRUE, FALSE, FALSE)

# | = OU (União)
# & = E (Interseção)

z_ou <- (x | y)
z_e <- (x & y)

z_ou
z_e

[1]  TRUE  TRUE  TRUE FALSE  TRUE

[1] FALSE  TRUE FALSE FALSE FALSE

In [ ]:
v1 <- vector()
v2 <- vector("integer", length = 10)
v3 <- character(10)
v4 <- c(5,10,15,4,2,4,6)
v5

[1] 1.0 2.0 3.5 9.8

In [ ]:
x <- list(1:10, "Z", TRUE, c("TSU", "KILL"))
x
print("Índice 1")
x[1]

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
[1] "Z"

[[3]]
[1] TRUE

[[4]]
[1] "TSU"  "KILL"

[1] "Índice 1"

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
math <- list(nome="Matheus", CPF="0123456789", tel="41 984860525")
math$nome
math[['end']] <- "Rua dos pintagalos, 500"
math$end

[1] "Matheus"

[1] "Rua dos pintagalos, 500"

In [ ]:
# Criar um vetor com valores de -5 a +5
v1 <- -5:5
print("Valores de V1: ")
v1
# Criar outro vetor com valores do v1 elevado a 3 (v1**3)
v2 <- v1 ** 3
print("Valores de V2: ")
v2
# Comparar logicamente ambos os vetores
v3 <- v1 == v2
print("Valores de V3: ")
v3

[1] "Valores de V1: "

 [1] -5 -4 -3 -2 -1  0  1  2  3  4  5

[1] "Valores de V2: "

 [1] -125  -64  -27   -8   -1    0    1    8   27   64  125

[1] "Valores de V3: "

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE

In [56]:
v1 <- seq(1,10,2) # De 1 a 10 com step 2
v2 <- seq(2,5,0.5)
v3 <- seq(1,5,length.out = 10)# De 1 a 5 forçando ter 10 numeros no meio
v4 <- rep(20,5) # Repetir o valor 20 por 5 vezes
v5 <- rep(5:10,3)# Repetir a sequencia de 5 a 10, 3 vezes
v6 <- rep(5:10, length.out=7) # Repetir a sequencia de 5 a 10, até ter 7 valores, no caso ficaria de 5 a 10 e adiciona novamente o valor 5
v6[6]
v6[-6] # Elimina o sexto elemento do vetor
v6[c(1,3)] # Resulta no primeiro e terceiro elemento do vetor, formando um novo vetor

[1] 10

[1] 5 6 7 8 9 5

[1]  5  6  7  8  9 10  5

[1] 5 7

In [59]:
matriz <- matrix(1:6, nrow=2, ncol=3)
dim(matriz)
nrow(matriz)
ncol(matriz)

matriz [2,2] # Seleciona um elemento da linha 2, coluna 2

[1] 2 3

[1] 2

[1] 3

[1] 4

In [61]:
matriz*10
matriz/5

     [,1] [,2] [,3]
[1,] 10   30   50
[2,] 20   40   60

     [,1] [,2] [,3]
[1,] 0.2  0.6  1.0
[2,] 0.4  0.8  1.2

In [64]:
entrada <- readline(prompt = "Digite algo: ")

if(entrada == '1'){
  print("Você digitou a opção 1")
} else {
  print("Você digitou algo diferente de 1")
}

Digite algo: 1
[1] "Você digitou a opção 1"

[1] "1"

In [65]:
for (i in seq(10,20,2)){
  print (i)
}

[1] 10
[1] 12
[1] 14
[1] 16
[1] 18
[1] 20

In [69]:
i <- 1
while (i<=10){
  print(i)
  i <- i + 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [70]:
tabela <- read.csv('/content/dados_olimpiadas.csv', header = TRUE)
tabela

       ano  edicao cidade_sede    pais      delegacao equipe
1      1896 Summer Athina         Australia AUS       Australia
2      1896 Summer Athina         Australia AUS       Australia
3      1896 Summer Athina         Australia AUS       Australia
4      1896 Summer Athina         Australia AUS       Australia/Great Britain
5      1896 Summer Athina         Australia AUS       Australia
6      1896 Summer Athina         Austria   AUT       Austria
7      1896 Summer Athina         Austria   AUT       Austria
8      1896 Summer Athina         Austria   AUT       Austria
9      1896 Summer Athina         Austria   AUT       Austria
10     1896 Summer Athina         Austria   AUT       Austria
11     1896 Summer Athina         Austria   AUT       Austria
12     1896 Summer Athina         Austria   AUT       Austria
13     1896 Summer Athina         Austria   AUT       Austria
14     1896 Summer Athina         Denmark   DEN       Denmark
15     1896 Summer Athina         Denmark   DEN       Denmark
16     1896 Summer Athina         Denmark   DEN       Denmark
17     1896 Summer Athina         Denmark   DEN       Denmark
18     1896 Summer Athina         Denmark   DEN       Denmark
19     1896 Summer Athina         Denmark   DEN       Denmark
20     1896 Summer Athina         Denmark   DEN       Denmark
21     1896 Summer Athina         Denmark   DEN       Denmark
22     1896 Summer Athina         Denmark   DEN       Denmark
23     1896 Summer Athina         Denmark   DEN       Denmark
24     1896 Summer Athina         Denmark   DEN       Denmark
25     1896 Summer Athina         Denmark   DEN       Denmark
26     1896 Summer Athina         Denmark   DEN       Denmark
27     1896 Summer Athina         Denmark   DEN       Denmark
28     1896 Summer Athina         Denmark   DEN       Denmark
29     1896 Summer Athina         France    FRA       France
30     1896 Summer Athina         France    FRA       France
⋮      ⋮    ⋮      ⋮              ⋮         ⋮         ⋮
269689 2016 Summer Rio de Janeiro           SGP       Singapore
269690 2016 Summer Rio de Janeiro           SGP       Singapore
269691 2016 Summer Rio de Janeiro           SGP       Singapore
269692 2016 Summer Rio de Janeiro           SGP       Singapore
269693 2016 Summer Rio de Janeiro           SGP       Singapore
269694 2016 Summer Rio de Janeiro           SGP       Singapore
269695 2016 Summer Rio de Janeiro           SGP       Singapore
269696 2016 Summer Rio de Janeiro           SGP       Singapore
269697 2016 Summer Rio de Janeiro           SGP       Singapore
269698 2016 Summer Rio de Janeiro           SGP       Singapore
269699 2016 Summer Rio de Janeiro           SGP       Singapore
269700 2016 Summer Rio de Janeiro           SGP       Singapore
269701 2016 Summer Rio de Janeiro           SGP       Singapore
269702 2016 Summer Rio de Janeiro           SGP       Singapore
269703 2016 Summer Rio de Janeiro           SGP       Singapore
269704 2016 Summer Rio de Janeiro           SGP       Singapore
269705 2016 Summer Rio de Janeiro           SGP       Singapore
269706 2016 Summer Rio de Janeiro           SGP       Singapore
269707 2016 Summer Rio de Janeiro           SGP       Singapore
269708 2016 Summer Rio de Janeiro           SGP       Singapore
269709 2016 Summer Rio de Janeiro           SGP       Singapore
269710 2016 Summer Rio de Janeiro           SGP       Singapore
269711 2016 Summer Rio de Janeiro           SGP       Singapore
269712 2016 Summer Rio de Janeiro           SGP       Singapore
269713 2016 Summer Rio de Janeiro           SGP       Singapore
269714 2016 Summer Rio de Janeiro           SGP       Singapore
269715 2016 Summer Rio de Janeiro           SGP       Singapore
269716 2016 Summer Rio de Janeiro           SGP       Singapore
269717 2016 Summer Rio de Janeiro           SGP       Singapore
269718 2016 Summer Rio de Janeiro           TUV       Tuvalu
       id_atleta nome_atleta                sexo idade altura peso
1       35698    Edwin Harold "Teddy" Flack M    22    NA     NA
2       35698    Edwin Harold "Teddy" Flack M    22    NA     NA
3       35698    Edwin Harold "Teddy" Flack M    22    NA     NA
4       35698    Edwin Harold "Teddy" Flack M    22    NA     NA
5       35698    Edwin Harold "Teddy" Flack M    22    NA     NA
6       48195    Otto Herschmann            M    19    NA     NA
7       85477    Paul Neumann (-Newman)     M    20    NA     NA
8       85477    Paul Neumann (-Newman)     M    20    NA     NA
9      107006    Felix Adolf Schmal         M    23    NA     NA
10     107006    Felix Adolf Schmal         M    23    NA     NA
11     107006    Felix Adolf Schmal         M    23    NA     NA
12     107006    Felix Adolf Schmal         M    23    NA     NA
13     107006    Felix Adolf Schmal         M    23    NA     NA
14      54456    Alexander Viggo Jensen     M    21    NA     NA
15      54456    Alexander Viggo Jensen     M    21    NA     NA
16      54456    Alexander Viggo Jensen     M    21    NA     NA
17      54456    Alexander Viggo Jensen     M    21    NA     NA
18      54456    Alexander Viggo Jensen     M    21    NA     NA
19      54456    Alexander Viggo Jensen     M    21    NA     NA
20      54456    Alexander Viggo Jensen     M    21    NA     NA
21      85988    Holger Louis Nielsen       M    29    NA     NA
22      85988    Holger Louis Nielsen       M    29    NA     NA
23      85988    Holger Louis Nielsen       M    29    NA     NA
24      85988    Holger Louis Nielsen       M    29    NA     NA
25      85988    Holger Louis Nielsen       M    29    NA     NA
26      85988    Holger Louis Nielsen       M    29    NA     NA
27     107090    Eugen Stahl Schmidt        M    34    NA     NA
28     107090    Eugen Stahl Schmidt        M    34    NA     NA
29      17492    Eugne Henri Callot         M    20    NA     NA
30      26280    Georges Daviel de la Nzire M    17    NA     NA
⋮      ⋮         ⋮                          ⋮    ⋮     ⋮      ⋮
269689  21132    Bei Fen Jovina Choo        F    26    164    57
269690  34619    Feng Tian Wei              F    29    163    55
269691  34619    Feng Tian Wei              F    29    163    55
269692  38418    Gao Ning                   M    33    179    80
269693  59330    Griselda Khng              F    25    155    60
269694  69626    Liang Xiaoyu               F    20    163    55
269695  69895    Denise Lim                 F    24    155    57
269696  70604    Justin Liu                 M    25    167    78
269697  85313    Neo Jie Shi                F    31    168    50
269698  85633    Ling Kai Amanda Ng         F    22    170    58
269699  89153    Leonard Ong                M    23    170    68
269700  97809    Quah Ting Wen              F    23    175    60
269701  97810    Quah Zheng Wen             M    19    179    79
269702  97810    Quah Zheng Wen             M    19    179    79
269703  97810    Quah Zheng Wen             M    19    179    79
269704 107436    Joseph Isaac Schooling     M    21    184    74
269705 107436    Joseph Isaac Schooling     M    21    184    74
269706 108760    Xiang Wei "Jasmine" Ser    F    25    155    47
269707 108760    Xiang Wei "Jasmine" Ser    F    25    155    47
269708 118281    Li Ching Sara Tan          F    25    171    71
269709 119191    Teo Shun Xie               F    27    168    63
269710 119191    Teo Shun Xie               F    27    168    63
269711 131420    Zi Liang "Derek" Wong      M    27    176    69
269712 132637    Jin Wei "Timothee" Yap     M    21    178    66
269713 132986    Yin Yue "Elizabeth" Yin    F    24    167    70
269714 133071    Pei Lin "Audrey" Yong      F    21    156    50
269715 133346    Yu Mengyu                  F    26    166    50
269716 133346    Yu Mengyu                  F    26    166    50
269717 134826    Zhou Yihan                 F    22    168    54
269718 120422    Etimoni Timuani            M    24    184    72
       esporte
1      Athletics
2      Athletics
3      Athletics
4      Tennis
5      Tennis
6      Swimming
7      Swimming
8      Swimming
9      Cycling
10     Cycling
11     Cycling
12     Cycling
13     Fencing
14     Athletics
15     Athletics
16     Gymnastics
17     Shooting
18     Shooting
19     Weightlifting
20     Weightlifting
21     Athletics
22     Fencing
23     Shooting
24     Shooting
25     Shooting
26     Shooting
27     Athletics
28     Shooting
29     Fencing
30     Athletics
⋮      ⋮
269689 Sailing
269690 Table Tennis
269691 Table Tennis
269692 Table Tennis
269693 Sailing
269694 Badminton
269695 Sailing
269696 Sailing
269697 Athletics
269698 Sailing
269699 Sailing
269700 Swimming
269701 Swimming
269702 Swimming
269703 Swimming
269704 Swimming
269705 Swimming
269706 Shooting
269707 Shooting
269708 Sailing
269709 Shooting
269710 Shooting
269711 Badminton
269712 Athletics
269713 Sailing
269714 Sailing
269715 Table Tennis
269716 Table Tennis
269717 Table Tennis
269718 Athletics
       evento                                                        medalha
1      Athletics Men's 1,500 metres                                  Gold
2      Athletics Men's 800 metres                                    Gold
3      Athletics Men's Marathon
4      Tennis Men's Doubles                                          Bronze
5      Tennis Men's Singles
6      Swimming Men's 100 metres Freestyle                           Silver
7      Swimming Men's 1,200 metres Freestyle
8      Swimming Men's 500 metres Freestyle                           Gold
9      Cycling Men's 10,000 metres                                   Bronze
10     Cycling Men's 100 kilometres
11     Cycling Men's 12-Hours Race                                   Gold
12     Cycling Men's 333 metres Time Trial                           Bronze
13     Fencing Men's Sabre, Individual
14     Athletics Men's Discus Throw
15     Athletics Men's Shot Put
16     Gymnastics Men's Rope Climbing
17     Shooting Men's Free Rifle, Three Positions, 300 metres        Bronze
18     Shooting Men's Military Rifle, 200 metres
19     Weightlifting Men's Unlimited, One Hand                       Silver
20     Weightlifting Men's Unlimited, Two Hands                      Gold
21     Athletics Men's Discus Throw
22     Fencing Men's Sabre, Individual                               Bronze
23     Shooting Men's Free Pistol, 30 metres                         Silver
24     Shooting Men's Military Pistol, 25 metres
25     Shooting Men's Military Rifle, 200 metres
26     Shooting Men's Muzzle-Loading Pistol, 25 metres               Bronze
27     Athletics Men's 100 metres
28     Shooting Men's Military Rifle, 200 metres
29     Fencing Men's Foil, Individual                                Silver
30     Athletics Men's 800 metres
⋮      ⋮                                                             ⋮
269689 Sailing Women's Two Person Dinghy
269690 Table Tennis Women's Singles
269691 Table Tennis Women's Team
269692 Table Tennis Men's Singles
269693 Sailing Women's Skiff
269694 Badminton Women's Singles
269695 Sailing Mixed Multihull
269696 Sailing Mixed Multihull
269697 Athletics Women's Marathon
269698 Sailing Women's Two Person Dinghy
269699 Sailing Men's Windsurfer
269700 Swimming Women's 100 metres Butterfly
269701 Swimming Men's 100 metres Backstroke
269702 Swimming Men's 100 metres Butterfly
269703 Swimming Men's 200 metres Butterfly
269704 Swimming Men's 100 metres Butterfly                           Gold
269705 Swimming Men's 100 metres Freestyle
269706 Shooting Women's Air Rifle, 10 metres
269707 Shooting Women's Small-Bore Rifle, Three Positions, 50 metres
269708 Sailing Women's Skiff
269709 Shooting Women's Air Pistol, 10 metres
269710 Shooting Women's Sporting Pistol, 25 metres
269711 Badminton Men's Singles
269712 Athletics Men's 100 metres
269713 Sailing Women's One Person Dinghy
269714 Sailing Women's Windsurfer
269715 Table Tennis Women's Singles
269716 Table Tennis Women's Team
269717 Table Tennis Women's Team
269718 Athletics Men's 100 metres

In [72]:
contagem_categorias <- table(tabela$pais)
contagem_categorias

media_coluna <- mean(tabela$idade, na.rm = TRUE)
media_coluna

                                                      Afghanistan
                             370                              126
                         Albania                          Algeria
                              70                              551
                  American Samoa                          Andorra
                              37                              169
                          Angola                          Antigua
                             267                              133
                       Argentina                          Armenia
                            3296                              221
                           Aruba                        Australia
                              42                             7723
                         Austria                       Azerbaijan
                            5078                              283
                         Bahamas                          Bahrain
                             374                              126
                      Bangladesh                         Barbados
                              55                              219
                         Belarus                          Belgium
                            1787                             3780
                          Belize                            Benin
                              76                               71
                         Bermuda                           Bhutan
                             212                               36
                          Boliva           Bosnia and Herzegovina
                             152                              134
                        Botswana                           Brazil
                              90                             3848
                          Brunei                         Bulgaria
                              10                             3529
                    Burkina Faso                          Burundi
                              44                               39
                        Cambodia                         Cameroon
                              63                              312
                          Canada                       Cape Verde
                            9681                               18
                  Cayman Islands         Central African Republic
                              83                               67
                            Chad                            Chile
                              41                              925
                           China                         Colombia
                            5826                             1069
                         Comoros                     Cook Islands
                              19                               40
                      Costa Rica                          Croatia
                             264                              876
                            Cuba                          Curacao
                            2479                               79
                          Cyprus                   Czech Republic
                             225                             6405
Democratic Republic of the Congo                          Denmark
                              93                             3531
                        Djibouti                         Dominica
                              38                               19
              Dominican Republic                          Ecuador
                             277                              277
                           Egypt                      El Salvador
                            1620                              215
               Equatorial Guinea                          Eritrea
                              40                               43
                         Estonia                         Ethiopia
                             876                              378
                            Fiji                          Finland
                             232                             5467
                          France                            Gabon
                           12539                               63
                          Gambia                          Georgia
                              56                              286
                         Germany                            Ghana
                           15787                              359
                          Greece                          Grenada
                            3191                               54
                            Guam                        Guatemala
                             112                              425
                          Guinea                    Guinea-Bissau
                              73                               21
                          Guyana                            Haiti
                             102                              106
                        Honduras                          Hungary
                             189                             6552
                         Iceland                            India
                             627                             1408
     Individual Olympic Athletes                        Indonesia
                              94                              412
                            Iran                             Iraq
                             789                              232
                         Ireland                           Israel
                            1323                              665
                           Italy                      Ivory Coast
                           10668                              193
                         Jamaica                            Japan
                             848                             8424
                          Jordan                       Kazakhstan
                              80                             1429
                           Kenya                         Kiribati
                             772                               11
                          Kosovo                           Kuwait
                               8                              284
                      Kyrgyzstan                             Laos
                             227                               54
                          Latvia                          Lebanon
                             937                              329
                         Lesotho                          Liberia
                              66                               74
                           Libya                    Liechtenstein
                              84                              369
                       Lithuania                       Luxembourg
                             654                              972
                       Macedonia                       Madagascar
                              84                              119
                          Malawi                         Malaysia
                              87                              577
                        Maldives                             Mali
                              49                               92
                           Malta                 Marshall Islands
                             118                               14
                      Mauritania                        Mauritius
                              29                              144
                          Mexico                       Micronesia
                            2865                               26
                         Moldova                           Monaco
                             234                              197
                        Mongolia                       Montenegro
                             550                               94
                         Morocco                       Mozambique
                             682                               78
                         Myanmar                          Namibia
                             111                               77
                           Nauru                            Nepal
                              13                               94
                     Netherlands                      New Zealand
                            5781                             2342
                       Nicaragua                            Niger
                             129                               47
                         Nigeria                      North Korea
                             882                              807
                          Norway                             Oman
                            4954                               66
                        Pakistan                            Palau
                             562                               25
                       Palestine                           Panama
                              21                              139
                Papua New Guinea                         Paraguay
                             108                              135
                            Peru                      Philippines
                             531                              694
                          Poland                         Portugal
                            6158                             1522
                     Puerto Rico                            Qatar
                             927                              192
               Republic of Congo                          Romania
                             105                             4404
                          Russia                           Rwanda
                           11692                               56
                     Saint Kitts                      Saint Lucia
                              42                               28
                   Saint Vincent                            Samoa
                              42                               63
                      San Marino            Sao Tome and Principe
                             181                               15
                    Saudi Arabia                          Senegal
                             230                              393
                          Serbia                       Seychelles
                            3292                              111
                    Sierra Leone                         Slovakia
                             114                             1055
                        Slovenia                  Solomon Islands
                            1111                               27
                         Somalia                     South Africa
                              32                             1699
                     South Korea                      South Sudan
                            4464                                3
                           Spain                        Sri Lanka
                            5313                              146
                           Sudan                         Suriname
                             107                               69
                       Swaziland                           Sweden
                              67                             8291
                     Switzerland                            Syria
                            6085                              279
                          Taiwan                       Tajikistan
                            1097                               70
                        Tanzania                         Thailand
                             161                              747
                     Timor-Leste                             Togo
                               9                               59
                           Tonga                         Trinidad
                              46                              395
                         Tunisia                           Turkey
                             561                             1355
                    Turkmenistan                           Uganda
                              54                              260
                              UK                          Ukraine
                           12115                             2559
            United Arab Emirates                          Uruguay
                             144                              572
                             USA                       Uzbekistan
                           18604                              495
                         Vanuatu                        Venezuela
                              35                              925
                         Vietnam          Virgin Islands, British
                             216                               45
              Virgin Islands, US                            Yemen
                             294                               48
                          Zambia                         Zimbabwe
                             183                              323

[1] 25.45449