<a href="https://colab.research.google.com/github/HolaSoyMath/DataScience-R/blob/main/1_Aula_em_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

[1] "Hello World!"

In [ ]:
x <- 10
y <- 1:10
y

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
x <- c(10,20,30)
y <- c(30,20,10)
z <- x<y
z

[1]  TRUE FALSE FALSE

In [ ]:
x_media <- mean(x)
y_media <- mean(y)
x_media
y_media

[1] 20

[1] 20

In [ ]:
# + = Adição
# - = Subtração
# * = Multiplicação
# / = Divisão
# ** = Potência
# %% = Resto da divisão
# %/% = Parte inteira da divisão

[1] 2

In [ ]:
# < : Menor que
# <= : Menor ou igual a
# > : Maior que
# >= : Maior ou igual a
# == : Igual a
# != : Diferente de
# sqrt() : Raíz quadrada
# fatorial() : Fatorial

In [ ]:
x <- c(TRUE, TRUE, FALSE, FALSE, TRUE)
y <- c(FALSE, TRUE, TRUE, FALSE, FALSE)

# | = OU (União)
# & = E (Interseção)

z_ou <- (x | y)
z_e <- (x & y)

z_ou
z_e

[1]  TRUE  TRUE  TRUE FALSE  TRUE

[1] FALSE  TRUE FALSE FALSE FALSE

In [ ]:
v1 <- vector()
v2 <- vector("integer", length = 10)
v3 <- character(10)
v4 <- c(5,10,15,4,2,4,6)
v5

[1] 1.0 2.0 3.5 9.8

In [ ]:
x <- list(1:10, "Z", TRUE, c("TSU", "KILL"))
x
print("Índice 1")
x[1]

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
[1] "Z"

[[3]]
[1] TRUE

[[4]]
[1] "TSU"  "KILL"

[1] "Índice 1"

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
math <- list(nome="Matheus", CPF="0123456789", tel="41 984860525")
math$nome
math[['end']] <- "Rua dos pintagalos, 500"
math$end

[1] "Matheus"

[1] "Rua dos pintagalos, 500"

In [ ]:
# Criar um vetor com valores de -5 a +5
v1 <- -5:5
print("Valores de V1: ")
v1
# Criar outro vetor com valores do v1 elevado a 3 (v1**3)
v2 <- v1 ** 3
print("Valores de V2: ")
v2
# Comparar logicamente ambos os vetores
v3 <- v1 == v2
print("Valores de V3: ")
v3

[1] "Valores de V1: "

 [1] -5 -4 -3 -2 -1  0  1  2  3  4  5

[1] "Valores de V2: "

 [1] -125  -64  -27   -8   -1    0    1    8   27   64  125

[1] "Valores de V3: "

 [1] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE

In [56]:
v1 <- seq(1,10,2) # De 1 a 10 com step 2
v2 <- seq(2,5,0.5)
v3 <- seq(1,5,length.out = 10)# De 1 a 5 forçando ter 10 numeros no meio
v4 <- rep(20,5) # Repetir o valor 20 por 5 vezes
v5 <- rep(5:10,3)# Repetir a sequencia de 5 a 10, 3 vezes
v6 <- rep(5:10, length.out=7) # Repetir a sequencia de 5 a 10, até ter 7 valores, no caso ficaria de 5 a 10 e adiciona novamente o valor 5
v6[6]
v6[-6] # Elimina o sexto elemento do vetor
v6[c(1,3)] # Resulta no primeiro e terceiro elemento do vetor, formando um novo vetor

[1] 10

[1] 5 6 7 8 9 5

[1]  5  6  7  8  9 10  5

[1] 5 7

In [57]:
matriz <- matrix(1:6, nrow=2, ncol=3)
matriz

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6